In [1]:
# String


print("Welcome to the Python World")

Welcome to the Python World

In [3]:
print('Welcome to the Python World')

Welcome to the Python World

In [4]:
print("I don't know about python before")

I don't know about python before

In [5]:
print('I don\'t know about python before')

I don't know about python before

In [6]:
print("I don't know about \"python\" before")

I don't know about "python" before

In [7]:
val = """Python is among the most popular and sought-after languages today
. Major organizations in the world build programs and applications using this object-oriented language. 
Here, you will come across some of the most frequently asked questions in Python job interviews in various fields. 
Our Python interview questions for experienced and freshers will help you in your interview preparation. 
Let us take a look at some of the most popular and significant Python programming interview questions and answers:"""

In [8]:
val

'Python is among the most popular and sought-after languages today\n. Major organizations in the world build programs and applications using this object-oriented language. \nHere, you will come across some of the most frequently asked questions in Python job interviews in various fields. \nOur Python interview questions for experienced and freshers will help you in your interview preparation. \nLet us take a look at some of the most popular and significant Python programming interview questions and answers:'

In [17]:
/n /t r \\ f

print("Welcome to the \\n Python \\t World")

Welcome to the \n Python \t World

In [23]:
print(r"""
Welcome to the \\n Python \\t World
Welcome to the \n Python \t World
Welcome to the \n Python \t World
Welcome to the \n Python \t World
Welcome to the \n Python \t World
""")

Welcome to the \\n Python \\t World
Welcome to the \n Python \t World
Welcome to the \n Python \t World
Welcome to the \n Python \t World
Welcome to the \n Python \t World

In [20]:
print("Welcome to the Python \\ \\n World")

Welcome to the Python \ \n World

In [25]:
txt = 'Welcome to the Python World'
txt.upper()

'WELCOME TO THE PYTHON WORLD'

In [26]:
txt = 'Welcome to the Python World'
txt.lower()

'welcome to the python world'

In [31]:
txt = 'Welcome to the Python World'
txt.upper().isupper()

True

In [33]:
txt = 'Welcome to the Python World'
txt.lower().islower()

True

In [36]:
txt = '12345'
txt.isnumeric()
txt.is

False

In [45]:
txt = 'Welcome to the Python World'
txt.startswith("Wel")

True

In [46]:
txt = 'Welcome to the Python World'
txt.endswith("orld")

True

In [49]:
ls = txt.split(' ')
type(ls)

list

In [50]:
ls

['Welcome', 'to', 'the', 'Python', 'World']

In [52]:
"@".join(ls)

'Welcome@to@the@Python@World'

In [53]:
txt = '          Welcome to the          Python World          '

In [54]:
txt

'          Welcome to the          Python World          '

In [55]:
txt.strip()

'Welcome to the          Python World'

In [56]:
txt

'          Welcome to the          Python World          '

In [57]:
txt.lstrip()

'Welcome to the          Python World          '

In [58]:
txt

'          Welcome to the          Python World          '

In [59]:
txt.rsplit()

['Welcome', 'to', 'the', 'Python', 'World']

In [60]:
txt.rstrip()

'          Welcome to the          Python World'

In [67]:
txt = "Welcome to Python"

len(txt)

17

In [70]:
print(txt[0])
print(txt[0 : 7])
print(txt[8 : 10])
print(txt[ : 10])
print(txt[10: ])
print(txt[0:len(txt)])
print(txt[ : : -1])

W
Welcome
to
Welcome to
 Python
Welcome to Python
nohtyP ot emocleW

In [75]:
txt = "Welcome"
txt1 = "Python"

In [82]:
print(txt, 12345)
print(txt * 2)

Welcome 12345
WelcomeWelcome

In [84]:
print("5 * 1 = 5")
print("5 * 2 = 10")

5 * 1 = 5
5 * 2 = 10

In [89]:
name = "Gopinath Jayakumar"
email = "gopithri@gmail.com"

print("My Name is {0} and email is {1}".format(name, email))

My Name is Gopinath Jayakumar and email is gopithri@gmail.com

In [91]:
print(f"My Name is {name} and email is {email}")

My Name is Gopinath Jayakumar and email is gopithri@gmail.com

In [93]:
for i in range(1, 11):
    print(f"5 * {i} = {i * 5}")

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [94]:
txt = "Welcome to python"

In [95]:
"to" in txt

True

In [96]:
"xyz" not in txt

True

In [98]:
x = "123"
y = "456"

print(f"hello {x}, {y}")

hello 123, 456

In [109]:
txt =  input()

Test,Leaf

In [110]:
ls = txt.split(',')

In [115]:
f = ls[0]
s = ls[1]

In [118]:
f[0]+s[1:]

'Teaf'