In [3]:
# local and global Variable:-

a = 1000
b = 2000

def get_data():
    # local variable
    a = 100
    b = 200
    print(f'sum of {a} and {b} are {a + b}')
    
    
def get_data1(a, b):
    print(f'sum of {a} and {b} are {a - b}')

In [4]:
get_data()
get_data1()

sum of 100 and 200 are 300
sum of 1000 and 2000 are 3000

In [5]:
# Expression oriented functions:- 

# - lambda, map, filter, reduce and list comprehension

# Lambda

In [ ]:
- Anonymous function
- it's return only expression (it's not return the value)
- lambda keyword
- we cant declare methods name for lambda expression (anonymous function).
- its can't access global variable
- its one line code, we cant use loop & cant dec blocking. But we can use simple if-else conditions.
- map, filter & reduce


# Systax:-

# lambda arguments : expression

In [9]:
def add_num(a, b):
    return a+b

In [8]:
add_num(10, 20)

30

In [12]:
add = lambda a, b : a + b

In [13]:
add(100, 200)

300

In [14]:
def sq(a):
    return a**2

In [15]:
add_num

In [16]:
sq

In [17]:
lambda a, b : a + b

In [18]:
lambda a : a**2

In [19]:
add = lambda a, b : a + b
add(100, 200)

300

In [20]:
add = lambda a, b =100 : a + b
add(100)

200

In [21]:
add = lambda *args : (args)
add(100, 200)

(100, 200)

In [22]:
x = lambda a, b, *args, **kwargs :(a, b, args, kwargs)

In [23]:
x(10, 20, 30, 40, 50, x = 1000, y = 2000, z = 3000)

(10, 20, (30, 40, 50), {'x': 1000, 'y': 2000, 'z': 3000})

In [24]:
def sq1(a):
    return a**3

In [28]:
sq1(5)

125

In [26]:
def apply_function(x, y):
  # return sq1(10) 
    return y(x)

In [29]:
apply_function(5, sq1)

125

In [30]:
apply_function(5, lambda a : a**3)

125

In [38]:
is_even = lambda a : a % 2  == 0

In [40]:
is_even(5)

False

In [49]:
func = lambda a : a + 2 if a%2 == 0 else a + 1

In [50]:
func(7)

8

In [53]:
lst = ['a', 'B', 'c', 'D', 'a']

In [54]:
lst

['a', 'B', 'c', 'D', 'a']

In [55]:
sorted(lst)

['B', 'D', 'a', 'a', 'c']

In [56]:
sorted(lst, reverse = True)

['c', 'a', 'a', 'D', 'B']

In [57]:
sorted(lst, key = lambda s : s.lower())

['a', 'a', 'B', 'c', 'D']

In [ ]:
# Map:- 

# Syntax:-
# map(function_object, iterable1...)
# map(function_object, iterable1, iterable2, iterable3......)

In [58]:
def sq(a):
    return a**2

In [59]:
sq(10)

100

In [60]:
ls = []
for i in range(11):
    ls.append(sq(i))
    
ls

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [61]:
fn = lambda a : a**2

In [62]:
fn(10)

100

In [63]:
ls = []
for i in range(11):
    ls.append(fn(i))
    
ls

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [64]:
ls = map(sq, range(11))

In [65]:
list(ls)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [67]:
list(map(lambda a : a**2, [1, 2, 3, 4, 5]))

[1, 4, 9, 16, 25]

In [79]:
func = lambda a : a + 2 if a%2 == 0 else a + 1
func(10)

12

In [77]:
tuple(map(lambda a : a**2, [10, 30, 21, 38, 43]))

(100, 900, 441, 1444, 1849)

In [80]:
txt = "testleaf"
fn = lambda x : x.upper()
tuple(map(fn, txt))

('T', 'E', 'S', 'T', 'L', 'E', 'A', 'F')

In [83]:
#txt = "Python is simple oops programming language".split()
list(map(lambda x : x.upper(), "Python is simple oops programming language".split()))

['PYTHON', 'IS', 'SIMPLE', 'OOPS', 'PROGRAMMING', 'LANGUAGE']

In [84]:
txt = "Python is simple oops programming language"
list(map(lambda x : len(x), "Python is simple oops programming language".split()))

[6, 2, 6, 4, 11, 8]

In [85]:
iter1 = [1, 2, 3, 4 ,5]
iter2 = [10, 20, 30, 40, 50]

list(map(lambda a, b : a * b, iter1, iter2))

[10, 40, 90, 160, 250]

In [86]:
iter1 = [1, 2, 3, 4 ,5]
iter2 = [10, 20, 30, 40, 50]
iter3 = [5, 10, 15, 20, 25, 30]

list(map(lambda a, b, c : a+b+c, iter1, iter2, iter3))

[16, 32, 48, 64, 80]

In [88]:
iter1 = [1, 2, 3, 4 ,5]
iter2 = [10, 20]

list(map(lambda a, b : a * b, iter1, iter2))

[10, 40]

In [ ]:
# filter

# Syntax:-
# filter(function_object, iterable)

#    - returns boolean if the value True

In [89]:
is_even = lambda a : a % 2  == 0

In [91]:
list(filter(lambda a : a % 2  == 0, [1,2,3,4,5,6,7,8,9]))

[2, 4, 6, 8]

In [94]:
input = {'Chennai' : 29,
         'Bangalore' : 36,
         'Hyderabad' : 19,
         'Delhi' : 26,
         'Mumbai' : 32}

In [114]:
list(map(lambda data : (data[0], (9/5)*data[1] + 32), input.items()))

[('Chennai', 84.2),
 ('Bangalore', 96.8),
 ('Hyderabad', 66.2),
 ('Delhi', 78.80000000000001),
 ('Mumbai', 89.6)]

In [115]:
dict(map(lambda data : (data[0], (9/5)*data[1] + 32), input.items()))

{'Chennai': 84.2,
 'Bangalore': 96.8,
 'Hyderabad': 66.2,
 'Delhi': 78.80000000000001,
 'Mumbai': 89.6}

In [116]:
# zip

iter1 = [1, 2, 3, 4, 5]
iter2 = ['aa', 'bb', 'cc', 'dd', 'ee']

In [122]:
list(zip(iter1, iter2))

[(1, 'aa'), (2, 'bb'), (3, 'cc'), (4, 'dd'), (5, 'ee')]

In [125]:
for i, j in zip(iter1, iter2):
    print(i * 100)
    print(j*2)

100
aaaa
200
bbbb
300
cccc
400
dddd
500
eeee

In [117]:
for i in iter1:
    print(i)

1
2
3
4
5

In [118]:
for i in iter2:
    print(i)

aa
bb
cc
dd
ee

In [121]:
print(list(zip(iter1, iter2)))

[(1, 'aa'), (2, 'bb'), (3, 'cc'), (4, 'dd'), (5, 'ee')]

In [136]:
x = zip(iter1, iter2)

In [137]:
zipped = list(x)

In [138]:
list(zip(*zipped))

[(1, 2, 3, 4, 5), ('aa', 'bb', 'cc', 'dd', 'ee')]

In [139]:

iter1 = [1, 2, 3, 4, 5]
iter2 = ['aa', 'bb', 'cc']

In [140]:
zipped = list(zip(iter1, iter2))

[(1, 'aa'), (2, 'bb'), (3, 'cc')]

In [141]:
list(zip(*zipped))

[(1, 2, 3, 4, 5), ('aa', 'bb', 'cc', 'dd', 'ee')]