In [9]:
# reduce:- 

#syntax:- reduce(fn, iterable) ----> single value


lt = [1000, 200, 300 ,400, 500]

sum(lt)

2400

In [5]:
import functools as ft

ft.reduce(lambda a, b : a + b, lt)

1500

In [6]:
max(lt)

500

In [7]:
max = lambda a, b : a if(a > b) else b

In [10]:
ft.reduce(max, lt)

1000

In [ ]:
# lambda
# map ----------> Apply the same set of steps to each item, sorting the result.
# filter--------> Apply validation criteria, sorting item that evaluate true.
# reduce--------> return a value that is passed from element to element.

In [14]:
fn = lambda a : a**3

In [15]:
fn(10)

1000

In [17]:
list(map(fn, [10, 20, 30, 40]))

[1000, 8000, 27000, 64000]

In [19]:
list(filter(lambda a : a, [0, 1, True, False]))

[1, True]

# List Compreshension

# syntax:-

## new_list = [expression for_loop_one_or_more condition]

In [21]:
def sq(a):
    return a**2

In [22]:
list(map(lambda a : a**2, [1, 2, 3, 4,5]))

[1, 4, 9, 16, 25]

In [24]:
lst = [a**2 for a in [1, 2, 3, 4, 5]]

In [25]:
lst

[1, 4, 9, 16, 25]

In [ ]:
def even_only(a):
    if a%2 == 0:
        return a

In [ ]:
filter(lambda a : a if a%2 == 0)

In [26]:
lst = [a for a in range(1, 11) if a%2==0]

In [27]:
lst

[2, 4, 6, 8, 10]

In [28]:
celsius = [0, 10, 20.2, 38.3]

# f = (9/5)*c +32

f = [(9/5)*c for c in celsius]

In [29]:
f

[0.0, 18.0, 36.36, 68.94]

In [30]:
ls1 = [10, 20, 30, 40]
ls2 = [20, 30, 40, 50]

com_lst = []

for i in ls1:
    for j in ls2:
        if i == j:
            com_lst.append(i)

In [31]:
com_lst

[20, 30, 40]

In [33]:
com_lst1 = [i for i in ls1  for j in ls2 if i == j]

In [34]:
com_lst1

[20, 30, 40]

In [35]:
lst = ['Aaaa', 'bbbb', 'Cccc', 'Dccc', 'eeee']

In [36]:
lst1 = [str.lower() for str in lst]

In [37]:
lst1

['aaaa', 'bbbb', 'cccc', 'dccc', 'eeee']

In [38]:
# enumerate:-
lst = ['babu', 'Gopi', 'balaji', 'divya']

In [40]:
for i in enumerate(lst):
    print(i)

(0, 'babu')
(1, 'Gopi')
(2, 'balaji')
(3, 'divya')

In [41]:
for i, j in enumerate(lst):
    print(i)
    print(j)

0
babu
1
Gopi
2
balaji
3
divya

In [45]:
for pos, name in enumerate(lst):
    print(f'{pos} ------- {name}')

0 ------- babu
1 ------- Gopi
2 ------- balaji
3 ------- divya

In [48]:
def find_pos(lst1, target_name):
    for pos, name in enumerate(lst1):
        if(name == target_name):
            return pos       
    return -1

In [49]:
print(find_pos(lst, 'balaji'))

2